
textarea:focus, input:focus {
    box-shadow: 0;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

body
{
    background: #E8D8C4;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

section
{
    background: #6D2932;

    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 600px;

    border-radius: 50px;

    box-shadow: #00000036 2px 5px 10px 2px;
    
    text-align: center;
    color: E8D8C4;

    display: grid;
    justify-content: center;
    align-items: center;
}

h1
{
    font: bold 25pt Arial;
    color: #E8D8C4;
    text-shadow: #00000036 2px 5px 10px 2px;
    
    margin-top: 35px;
}

#peso
{
    background: #561C24;

    border: none;
    border-radius: 30px;
    padding: 15px;

    color: #E8D8C4;

    text-align: center;
    font-size: 20px;
    width: 300px;

    box-shadow: #00000036 2px 5px 10px 2px;

    margin-bottom: 40px;
}

#peso:hover {
    background: #44161c;
    transition: all ease-in-out .2s;
}

#altura
{
    background: #561C24;

    border: none;
    border-radius: 30px;
    padding: 15px;

    color: #E8D8C4;

    text-align: center;
    font-size: 20px;
    width: 300px;

    box-shadow: #00000036 2px 5px 10px 2px;

    margin-bottom: 40px;
}

#altura:hover {
    background: #44161c;
    transition: all ease-in-out .2s;
}

::-webkit-input-placeholder 
{
    color: #E8D8C4;
}

#calcular
{
    background: #E8D8C4;
    color: #6D2932;

    width: 200px;
    padding: 10px;
    margin: auto;

    font: normal 30px Arial;

    border: none;
    border-radius: 100px;

    box-shadow: #00000036 2px 5px 10px 2px;
    text-shadow: #00000036 3px 3px 5px 2px;
}

#calcular:hover {
    background: #c5b19c;
    transition: all ease-in-out .2s;
}

#res
{
    color: #E8D8C4;
    font: normal 5px Arial;

    text-align: center;
    font-size: 20px;

    margin-top: 40px;
    margin-bottom: 40px;

}

footer {
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 600px;
}


.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6D2932;
}

.info {
    text-align: center;
    color: #6D2932;
    text-decoration: none;
    gap: 50px;
}

a:link {
    text-decoration: none;
    color: #6D2932;
}

a:visited {
    text-decoration: none;
    color: #6D2932;
}

a:hover {
    text-decoration: none;
    background-color: #6D2932;
    padding: 10px;
    border-radius: 20px;
    color: #E8D8C4;
    transition: all ease-in-out .2s;
}
